# Bytecode files
*.class

# Package files
*.jar
*.war
*.ear

# Logs
*.log
logs/

# Temporary files
*.tmp
*.bak
*.swp

# Compiled class files and directories
/bin/
/build/
/target/

# IDE-specific files
# IntelliJ IDEA
.idea/
*.iml
*.iws

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# Operating system files
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# Linux
*~

